/**** Font(s) ****/
	/* Font's Source
		Affectionately Yours: mistifonts.com
		Mf Kind & Witty: mistifonts.com
		Alex-Brush: 1001fonts.com
		Inkcalig: 1001fonts.com
		PrinsesstartaLightDEMO: 1001fonts.com
	*/
	
@font-face {
	font-family: Affectionately;
	src: url('../etc/Affectionately Yours - TTF.ttf');
}
@font-face {
	font-family: MfKind;
	src: url('../etc/Mf Kind & Witty.ttf');
}
@font-face {
	font-family: AlexBrush;
	src: url('../etc/AlexBrush-Regular.ttf');
}
@font-face {
	font-family: Inkcalig;
	src: url('../etc/Inkcalig.ttf');
}
@font-face {
	font-family: PrinsesstartaLight;
	src: url('../etc/PrinsesstartaLightDEMO.ttf');
}
	/* Typicons */
@font-face {
	font-family: 'typicons';
	src: url("typicons/font/typicons.eot");
	src: url("typicons/font/typicons.eot?iefix")format('embedded-opentype'),
		 url("typicons/font/typicons.woff")format('woff'),
		 url("typicons/font/typicons.ttf")format('truetype'),
		 url("typicons/font/typicons.svg#typicons")format(svg);
	font-weight: normal;
	font-style: normal;
}


/***** Animation *****/
@keyframes heartBeat {
	0% {font-size: 34px;}
	50% {font-size: 44px;}
	100% {font-size: 34px;}
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}

.navbar.custNavbar {
	background-color: transparent;
    box-shadow: none;
    max-height: 70px;
}

h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	text-align: center;
}

.hsContainer{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.paraContainer {
	width: 80%;
	margin: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
}

.paraContent {
	max-width: 700px;
	margin: auto;
}
	.paraContent .coupleName {
		display: flex;
		flex-direction: row;
	}
	.paraContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.paraContent .introName {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 37px;
		margin-bottom: 12px;
		height: 60px;
	}
	.paraContent .introSubTitle {
		font-size: 30px;
	}
	.paraContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}
	.hsContent h2  {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 37px;
		margin-bottom: 12px;
		height: 60px;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* ==========================================================================
   Section
   ========================================================================== */
section{
	background-color: #fff;
}
.descSection {
	background: #fff;
	padding-bottom: 15px;
}
#introduction .coupleIntro .personOf{
	text-align: center;
}
#introduction .coupleIntro .personOf:first-child{
	border-right: 1px dashed #404040;
}

	/* Slide 1 */
#introSlide .bcg {
	background-image:url('../img/wedding-ring.jpg');
	color: #e6e6e6;
}
#introSlide .hsContent {
	bottom: 200px;
	top: auto;
	text-align: center;
}

	/* Slide 2 */
#storySlide {
	height: 450px !important;	
}
#storySlide .bcg {background-image:url('../img/story-of-life.jpeg')}
#storySlide .hsContent {
	margin-left: -450px;
	bottom: 200px;
	top: auto;
}

	/* Wedding Day */
#introEvent {
	height: 450px !important;
}
#introEvent .bcg{
	background-image: url('../img/bucket-of-flowers.jpg');
}
#introEvent .paraContent {
	color: #ededed;
    padding: 10px;
    background-color: rgba(4,5,5,0.2);
}
#introEvent .subEvent .odd{
	text-align: right;
	border-right: 1px dashed #404040;
}
#introEvent .subEvent .even{
	text-align: left;
}

@media only screen and (max-width: 575px) {
    #introEvent .subEvent .odd, #introEvent .subEvent .even{
		text-align: center;
		border: none;
	}
}

	/* Counter */
#countdown {
	text-align: center;
	height: 300px !important;
}
#countdown .bcg {background-image:url('../img/watch-ring-min.jpeg')}
.counterContainer {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}

	/* Slide 4 */
#rsvp {
	height: 600px !important;
}
#rsvp .bcg {
	background-image:url('../img/wedding-stage.jpeg');
}

	/* Story Container */
.coupleStoryContainer {
	padding-bottom: 25px;
}
.storyContainer {
	margin-top: 20px;
}
.story::before {
	content: '';
	border-right: 1px dashed #e0e0e0;
	position: absolute;
	left: 50%;
	height: inherit;
}
	/* Map */
#location {
	height: 450px;
}
	
/*==========================================================================
 Custom 
 ==========================================================================*/
nav.navbar.navbar-light.navbar-toggleable-sm.bg-faded.justify-content-center.fixed-top {
	padding: .5rem 4rem;
	max-height: 70px;
	transition: max-height 1.5s;
}
.navbar.fixed-top {
	background-color: transparent;
}
.navbar.navbar-light .navbar-brand {
	color: rgba(0,0,0,.5);
	font-size: 35px;
	transition: font-size 1.5s;
}
.navbar.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.5);
}
.carousel .storyOf {
	max-height: 300px;
	height: 300px;
	width: 80%;
	margin: auto;
	overflow-y: scroll;
}
.carousel .controlProfileOf {
	position: relative;
}
.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238e8e8e' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	color: black;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238e8e8e' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel .carousel-indicators li {
	background-color: #e0e0e0;
}
.carousel .carousel-indicators .active{
	background-color: #8e8e8e;
}
.custAffectionately {
	font-family: Affectionately;
	font-size: 34px;
}
.affectionatelyAnimate {
	animation: heartBeat 1s infinite;
}
.homeSlide p {
	color: #fff;
}
.storyOf, .storyText {
	font-family: PrinsesstartaLight;
}

/* Misc */
.coupleIntro {
	margin-top: 10px;
	margin-bottom: 10px;
}
.photoProfileContainer img{
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
	border: 1px solid #fff;
	background-color: #fff;
	margin-bottom: 10px;
}
.mainTitle {
	font-family: Affectionately;
	font-size: 42px;
}
.introSubTitle {
	color: #fff;
}
.titleBorder {
	text-align: center;
	font-size: 34px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.titleBorder::before{
	content: '';
	width: 450px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.38);
	bottom: -55px;
	position: relative;
	display: block;
	margin: auto;
}
.titleBorder::after{
	content: '';
	background-color: #e29898;
	width: 225px;
	height: 4px;
	bottom: 0px;
	position: relative;
	display: block;
	margin: auto;
}
.title {
	font-family: AlexBrush;
	text-transform: Capitalize;
}
.storyBox {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}
.storyTextLeft {
	text-align: left;
}
.storyTextRight {
	text-align: right;
}
.storyTextCenter {
	text-align: center;
}
.additionalText {
	display: none;
}
.hiddenStory {
	display: none;
}
.storyPicContainer {
	display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.storyPic {
	height: 150px;
	width: 150px;
}
.fadeIn {
	opacity: 0;
	animation: fadeIn .3s ease-in 1 forwards;
}
.fadeOut {
	opacity: 0;
	animation: fadeOut .3s ease-in 1 forwards;
}

/* ==========================================================================
   Flex classes
   ========================================================================== */
.flexContainer {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	text-align: center;
	margin: auto;
	width: 80%;	
}

.timer {
	font-size: 40px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 920px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 8%;
	}
	.paraContent .mainTitle {
		font-size: 30px;
	}
	.paraContent .introName {
		font-size: 30px;
	}
	.paraContent .introSubTitle {
		font-size: 20px;
	}
}
@media screen and (min-width: 820px) and (max-width: 870px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 4%;
	}
}
@media screen and (min-width: 770px) and (max-width: 819px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 2%;
	}
}
@media screen and (max-width: 769px) {
	.paraContainer, .flexContainer, .title {		
		width: 70%;
		margin-left: 5%;
	}
}
@media screen and (max-width: 767px) {
	#introduction .coupleIntro .personOf:first-child {
		border-right: none;
	}
}
@media screen and (min-width: 670px) and (max-width: 719px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 3%;
	}
}
@media screen and (max-width: 669px) {
	.paraContainer, .flexContainer, .title {		
		width: 60%;
		margin-left: 5%;
	}
}
@media screen and (min-width: 592px) and (max-width: 620px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 3%;
	}
	.title {
		font-size: 28px;
	}
}
@media screen and (max-width: 591px) {
	.paraContainer, .flexContainer, .title {		
		width: 60%;
		margin-left: 2%;
	}
	.paraContent p {
		width: 350px;
	}
}
@media screen and (max-width: 550px) {
	.paraContainer, .flexContainer, .title {		
		width: 50%;
		margin-left: 4%;
	}
}
@media screen and (max-width: 500px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 2%;
	}
}
@media screen and (max-width: 480px) {
	.paraContainer, .flexContainer, .title {		
		width: 40%;
		margin-left: 5%;
	}
	.titleBorder::before{
		display: none;
	}
}
@media screen and (max-width:470px) {
	.paraContainer, .flexContainer, .title {
		width: 37%;
	}
}
@media screen and (max-width: 450px) {
	.paraContainer, .flexContainer, .title {
		margin-left: 4%;
	}
	.paraContent .mainTitle {
		font-size: 25px;
	}
	.paraContent .introName {
		font-size: 25px;
	}
	.paraContent .introSubTitle {
		font-size: 15px;
	}
	.paraContent p {
		width: auto;
	}
}
@media screen and (max-width: 400px) {
	.paraContainer, .flexContainer, .title {		
		margin-left: 2%;
	}
	.title {
		font-size: 25px;
	}
}
@media screen and (max-width: 370px) {
	.paraContainer, .flexContainer, .title {	
		width: 35%;
		margin-left: 2%;
	}
}
@media screen and (max-width: 340px) {
	.paraContainer, .flexContainer, .title {	
		width: 30%;
		margin-left: 3%;
	}
}
@media screen and (max-width: 320px) {
	.paraContainer, .flexContainer, .title {	
		width: 30%;
		margin-left: 2%;
	}
}